__pycache__/
*.py[cod]
*.so
env/
venv/
.Python
build/
dist/
*.egg-info/
*.egg
media/
staticfiles/
local_settings.py
*.log
.coverage
htmlcov/
celerybeat-schedule
*.pot
*.mo
.pytest_cache/
.idea/
.vscode/
node_modules/
npm-debug.log
npm-debug.log
# Project files
*.sqlite3
db.sqlite3
.env
.env.*
logs/
tor_data/
chmod_log.txt