amqp
annotated-types
anyio
asgiref
billiard
celery
certifi
cffi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
cryptography
distro
Django
django-bootstrap5
django-environ
djangorestframework
django-stubs
dotenv
gunicorn
h11
httpcore
httpx
idna
iniconfig
jiter
kombu
openai==1.3.0
packaging
pluggy
prompt_toolkit
pycparser
pydantic
pydantic_core
Pygments
PyJWT==2.8.0
pyotp==2.8.0
pytest
pytest-django
python-dateutil
python-dotenv
python-telegram-bot==20.4
pytz
qrcode==7.4.2
requests
six
sniffio
sqlparse
tqdm
typing-inspection
typing-extensions
tzdata
urllib3
vine
wcwidth
whitenoise
reportlab
django-stubs
typing-extensions
weasyprint
# QR y GUI
opencv-python==4.8.0.74
pyzbar==0.1.9
pillow==10.0.0

# GPT-4
tiktoken==0.5.1

# JWT Mejorado
python-jose==3.3.0
cryptography==41.0.3
