amqp
annotated-types
anyio
asgiref
billiard
celery
certifi
cffi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
cryptography
distro
Django
django-environ
djangorestframework
django-stubs
dotenv
gunicorn
h11
httpcore
httpx
idna
iniconfig
jiter
kombu
openai
packaging
pluggy
prompt_toolkit
pycparser
pydantic
pydantic_core
Pygments
PyJWT
pyotp
pytest
pytest-django
python-dateutil
python-dotenv
pytz
qrcode
requests
six
sniffio
sqlparse
tqdm
typing-inspection
typing-extensions
tzdata
urllib3
vine
wcwidth
whitenoise
reportlab
django-stubs
typing-extensions

