<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'dashboard' %}">Dashboard</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample" aria-controls="navbarsExample" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExample">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" href="{% url 'list_debtorsGPT4' %}">Deudores</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'list_creditorsGPT4' %}">Acreedores</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="transferMenu" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Transferencias
          </a>
          <ul class="dropdown-menu" aria-labelledby="transferMenu">
            <li><a class="dropdown-item" href="{% url 'list_transferGPT4' %}">Lista de Transferencias</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'create_transferGPT4' %}">Nueva Transferencia Externa</a></li>
            <li><a class="dropdown-item" href="{% url 'create_transfer_internaGPT4' %}">Nueva Transferencia Interna</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="accountMenu" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Estados de Cuenta
          </a>
          <ul class="dropdown-menu" aria-labelledby="accountMenu">
            <li><a class="dropdown-item" href="{% url 'list_debtor_accountsGPT4' %}">Cuentas de Deudores</a></li>
            <li><a class="dropdown-item" href="{% url 'list_creditor_accountsGPT4' %}">Cuentas de Acreedores</a></li>
          </ul>
        </li>
        {% if user.is_superuser %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="adminMenu" role="button" data-bs-toggle="dropdown" aria-expanded="false">Administración</a>
          <ul class="dropdown-menu" aria-labelledby="adminMenu">
            <li><a class="dropdown-item" href="{% url 'user_management' %}">Usuarios</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'list_kidsGPT4' %}">Kid</a></li>
            <li><a class="dropdown-item" href="{% url 'list_clientidsGPT4' %}">ClientID</a></li>
            <li><a class="dropdown-item" href="{% url 'list_debtor_accountsGPT4' %}">DebtorAccount</a></li>
            <li><a class="dropdown-item" href="{% url 'list_debtorsGPT4' %}">Debtor</a></li>
            <li><a class="dropdown-item" href="{% url 'list_creditorsGPT4' %}">Creditor</a></li>
          </ul>
        </li>
        {% endif %}
      </ul>
      <span class="navbar-text me-2">{{ user.username }}</span>
      <a href="{% url 'logout' %}" class="btn btn-outline-danger btn-sm">Salir</a>
    </div>
  </div>
</nav>